<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="https://img.jianshiapp.com/assets/favicon.png" type="image/png"/>
  <title>见识大佬年终大盘点</title>
</head>
<body>
<div class="wrapper mobile-wrapper">
  <div class="bg">
    <img src="<%= require('~/images/bg.png') %>" alt="image">
  </div>
  <div class="bg-info">
    <img src="<%= require('~/images/person.png') %>" alt="image">
    <img src="<%= require('~/images/day.png') %>" alt="image">
    <div class="main-info">
      <div class="circle">
        <img class="info" src="<%= require('~/images/top1.png') %>" alt="image">
        <div class="circle-info info-a">
          <div class="person-info">
            <div class="p-cover">
              <img class="people" src="<%= require('~/images/person1.png') %>" alt="image">
            </div>
            <div class="p-content">
              <div class="jieshao">
                <div class="jieshao-top">
                  <strong class="zi1">邓海清</strong>
                  <span class="zi2">全球首席经济学家</span>
                </div>
                <strong class="zi3">海清FICC频道</strong>
              </div>
              <a href="https://jianshiapp.com/circles/230389">
                <img class="button" src="<%= require('~/images/button.png') %>" alt="image">
              </a>
            </div>
          </div>
          <div class="person-info">
            <div class="p-cover">
              <img class="people" src="<%= require('~/images/person2.png') %>" alt="image">
            </div>
            <div class="p-content">
              <div class="jieshao">
                <div class="jieshao-top">
                  <strong>洪灏</strong>
                  <span>交银国际首席策略师</span>
                </div>
                <strong>洪灏</strong>
              </div>
              <a href="https://jianshiapp.com/circles/989">
                <img class="button" src="<%= require('~/images/button.png') %>" alt="image">
              </a>
            </div>
          </div>
          <div class="person-info">
            <div class="p-cover">
              <img class="people" src="<%= require('~/images/person3.png') %>" alt="image">
            </div>
            <div class="p-content">
              <div class="jieshao">
                <div class="jieshao-top">
                  <strong>刘煜辉</strong>
                  <span>首席经济学家</span>
                </div>
                <strong>刘煜辉专栏交流见识圈</strong>
              </div>
              <a href="https://jianshiapp.com/circles/1699">
                <img class="button" src="<%= require('~/images/button.png') %>" alt="image">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="circle">
        <img class="info" src="<%= require('~/images/top2.png') %>" alt="image">
        <div class="circle-info info-b">
          <div class="person-info">
            <div class="p-cover">
              <img class="people" src="<%= require('~/images/person21.png') %>" alt="image">
            </div>
            <div class="p-content">
              <div class="jieshao">
                <div class="jieshao-top">
                  <strong class="zi1">付鹏</strong>
                  <span class="zi2">全球对冲基金经理</span>
                </div>
                <strong class="zi3">《付鹏说》~交流社区~</strong>
              </div>
              <a href="https://jianshiapp.com/circles/138">
                <img class="button" src="<%= require('~/images/button.png') %>" alt="image">
              </a>
            </div>
          </div>
          <div class="person-info">
            <div class="p-cover">
              <img class="people" src="<%= require('~/images/person22.png') %>" alt="image">
            </div>
            <div class="p-content">
              <div class="jieshao">
                <div class="jieshao-top">
                  <strong>吴裕彬</strong>
                  <span>知名金融经济学家</span>
                </div>
                <strong>量化之眼</strong>
              </div>
              <a href="https://jianshiapp.com/circles/2249">
                <img class="button" src="<%= require('~/images/button.png') %>" alt="image">
              </a>
            </div>
          </div>
          <div class="person-info">
            <div class="p-cover">
              <img class="people" src="<%= require('~/images/person23.png') %>" alt="image">
            </div>
            <div class="p-content">
              <div class="jieshao">
                <div class="jieshao-top">
                  <strong>傅峙峰</strong>
                  <span>华尔街见闻研究总监</span>
                </div>
                <strong>码个果实</strong>
              </div>
              <a href="https://jianshiapp.com/circles/127535">
                <img class="button" src="<%= require('~/images/button.png') %>" alt="image">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="circle">
        <img class="info" src="<%= require('~/images/top3.png') %>" alt="image">
        <div class="circle-info info-c">
          <div class="person-info">
            <div class="p-cover">
              <img class="people" src="<%= require('~/images/person31.png') %>" alt="image">
            </div>
            <div class="p-content">
              <div class="jieshao">
                <div class="jieshao-top">
                  <strong class="zi1">王延巍</strong>
                  <span class="zi2">美国ETF专家</span>
                </div>
                <strong class="zi3">全球投资谈</strong>
              </div>
              <a href="https://jianshiapp.com/circles/651">
                <img class="button" src="<%= require('~/images/button.png') %>" alt="image">
              </a>
            </div>
          </div>
          <div class="person-info">
            <div class="p-cover">
              <img class="people" src="<%= require('~/images/person32.png') %>" alt="image">
            </div>
            <div class="p-content">
              <div class="jieshao">
                <div class="jieshao-top">
                  <strong>王文深</strong>
                  <span>机构美⾖研究员</span>
                </div>
                <strong>美⾖与豆粕</strong>
              </div>
              <a href="https://jianshiapp.com/circles/434">
                <img class="button" src="<%= require('~/images/button.png') %>" alt="image">
              </a>
            </div>
          </div>
          <div class="person-info">
            <div class="p-cover">
              <img class="people" src="<%= require('~/images/person33.png') %>" alt="image">
            </div>
            <div class="p-content">
              <div class="jieshao">
                <div class="jieshao-top">
                  <strong>刘宇翔</strong>
                  <span>投行量化投资总监</span>
                </div>
                <strong>量化学徒—全球宏观投资</strong>
              </div>
              <a href="https://jianshiapp.com/circles/214488">
                <img class="button" src="<%= require('~/images/button.png') %>" alt="image">
              </a>
            </div>
          </div>
        </div>
      </div>
      <div class="banner">
        <img src="../../images/title.png" alt="banner">
      </div>
    </div>
  </div>

</div>
  <script
    src="https://polyfillservice.wallstreetcn.com/v2/polyfill.min.js?features=default,es2015,es2016,es2017,fetch,Promise.prototype.finally&unknown=polyfill&flags=gated"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-19303398-15', 'auto');
      ga('send', 'pageview');
    </script>
  <script src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
</body>
</html>
