<!doctype html>
<html>
<head>
  <meta charset="UTF-8">
  <meta name="viewport"
        content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="icon" href="https://img.jianshiapp.com/assets/favicon.png" type="image/png"/>
  <title>见识圈主招募</title>
</head>
<body>
<div class="wrapper mobile-wrapper">
  <div class="bg">
    <img class="bg-img" src="<%= require('~/images/bg.png') %>">
    <div class="field">
      <div class="content">
        <img class="imgs img1"src="<%= require('~/images/phone.png') %>">
        <input  id="field1">
      </div>
      <div class="content">
        <img class="imgs img2" src="<%= require('~/images/weixin.png') %>">
        <input  id="field2">
      </div>
      <div class="content content1">
        <img class="imgs img3" src="<%= require('~/images/weibo.png') %>">
        <input  id="field3">
      </div>
    </div>
    <div class="bottom">
      <img class="img4" src="<%= require('~/images/button.png') %>">
    </div>
  </div>
</div>
  <script
    src="https://polyfillservice.wallstreetcn.com/v2/polyfill.min.js?features=default,es2015,es2016,es2017,fetch,Promise.prototype.finally&unknown=polyfill&flags=gated"></script>
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
        (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
        m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-19303398-15', 'auto');
      ga('send', 'pageview');
    </script>
  <script src="https://res.wx.qq.com/open/js/jweixin-1.4.0.js"></script>
</body>
</html>
