img{
  width:100%;
  display: block;
}
.wrapper{
  width: 100%;
  position: relative;
}
.bg{
  width: 100%;
}
.bg img{
  width: 100%;
}
.field{
  width: 80%;
  position: absolute;
  top:95.8%;
  left:50%;
  transform: translateX(-50%);
}
.content{
  width: 100%;
  margin-bottom: 8%;
}
.content1{
  margin-bottom: 15.17%;
}
.imgs{
  margin-bottom: 2.33%;
}
.img1{
  width: 16.5%;
}
.img2{
  width: 16.67%;
}
.img3{
  width: 22.33%;
}
input{
  display: block;
  width: 100%;
  background-color: rgb(39,41,68);
  border: none;
  border-radius: 5px;
  height: 40px;
  color: white;
  text-indent: 5%;
}
.bottom{
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 2000;
}
.img4{
  display: block;
}
